In [1]:
width = 20

In [2]:
length = 30

In [3]:
print(width)

20

In [4]:
print(length)

30

In [5]:
age = 67

In [6]:
print(age)

67

In [7]:
#This is the apartment number

In [8]:
apartment = 301

In [9]:
print("I'm staying in apartment number")

I'm staying in apartment number

In [10]:
print(apartment)

301

In [11]:
## Chapter 2 Programming exercise 1.

In [12]:
#Display the name for the student.
#I will use a input function to get this info from student.

In [2]:
name = input('What is your name?: ')

What is your name?: John Johnston.

In [ ]:
#Next display the students address.
#I will use the input function to get this info.

In [4]:
address = input('What is your address, city, state, and zip code?: ')

What is your address, city, state, and zip code?: 3901 State St, Albany, MD, 71029

In [ ]:
#Next display the students telephone number

In [3]:
phone_number = input('What is your telephone number?: ')

What is your telephone number?: 262-290-2135

In [ ]:
#Next display the students college major

In [10]:
major = input('What is your major?: ')

What is your major?: Computer science

In [12]:
print(name, address, phone_number, major)

John Johnston. 3901 State St, Albany, MD, 71029 262-290-2135 Computer science

In [ ]:
# Algorithm Workbench 6

In [13]:
#Write a python statement that subtracts the variable down_payment from variable total.
#To do this I will be using variables and equations in python

In [14]:
down_payment = 5000

In [16]:
total = 17000

In [ ]:
#I will use the - operator to subtract the total from the down payment to get the amount due

In [19]:
due = total - down_payment

In [20]:
print(due)

12000

In [21]:
#Programming Exercise number 13 planting grapevines
#I will be creating a program to calculate the row in feet, amount of space in feet, and space between vines

In [22]:
#to start I will assign the length, space, and space between vines

In [23]:
length = 400

In [24]:
space = 600

In [ ]:
space_between = 10