In [2]:
for num in range(5):
    print(num)

0
1
2
3
4

In [4]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for x in range(3):
    print('Hello World')

Hello World
Hello World
Hello World

In [6]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [8]:
for num in range(1, 25, 5):
    print(num)

1
6
11
16
21

In [10]:
print('Number\tSquare')

number	Square

In [11]:
print('--------------')

--------------

In [26]:
for number in range(1, 11):
    square = number**2
    print(f'{number}\t{square}')

1	1
2	4
3	9
4	16
5	25
6	36
7	49
8	64
9	81
10	100

In [21]:
start_speed = 60
end_speed = 131
increment = 10
conversion_rate = 0.6214

In [22]:
print('KPH\tMPH')

KPH	MPH

In [23]:
print('--------------')

--------------

In [25]:
for kph in range(start_speed, end_speed, increment):
    mph = kph * conversion_rate
    print(f'{kph}\t{mph}')

60	37.284
70	43.498
80	49.711999999999996
90	55.925999999999995
100	62.13999999999999
110	68.354
120	74.568
130	80.782

In [28]:
print('This program displays a list of numbers. ')
print('(Starting at 1) and their squares ')

This program displays a list of numbers.
(Starting at 1) and their squares

In [34]:
end = int(input('How high should I go? '))

How high should I go? 12

In [35]:
print()
print('Number\tSquare')
print('------------------')

Number	Square
----------------

In [36]:
for number in range(1, end + 1):
    square = number**2
    print(f'{number}\t{square}')

1	1
2	4
3	9
4	16
5	25
6	36
7	49
8	64
9	81
10	100
11	121
12	144

In [38]:
for num in range(15, -5, -3):
    print(num)

15
12
9
6
3
0
-3

In [39]:
for x in range(6):
    print('I love to code!')

I love to code!
I love to code!
I love to code!
I love to code!
I love to code!
I love to code!

In [44]:
MAX = 5
total = 0.0

In [45]:
print('This program calculates the sum of ', end='')
print(f'{MAX} numbers you will enter')

This program calculates the sum of 5 numbers you will enter

In [47]:
for counter in range(MAX):
    number = int(input('Please enter a number: '))
    total = total + number

Please enter a number: 1
Please enter a number: 2
Please enter a number: 3
Please enter a number: 4
Please enter a number: 5

In [48]:
print(f'The total is {total}.')

The total is 18.0.

In [51]:
#Algorithm Workbench Q.3
#I am asked to write a loop that displays certain numbers.
#I will first create the for loop 
for num in range(0, 101, 10):
    #Next I will print numbers
    print(num)

0
10
20
30
40
50
60
70
80
90
100

In [52]:
#Algorithm Workbench Q.5
#I will start by creating the variables for denominator and total
denominator = 30
total = 0
#Next will use the for loop and use numerator as the target variable
for numerator in range(1, 31):
    #Next I will create a variable for value and give total a value
    value = numerator / denominator
    total = total + value
    #Next I will create the operator for denominator
    denominator =- 1
#Last I will print the total
print(total)

-463.9666666666667